@tailwind base;
@tailwind components;
@tailwind utilities;

.pulse {
    box-shadow: 0 0 0 0 rgba(170, 224, 0, .6);
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    70% {
        box-shadow: 0 0 0 10px rgba(170, 224, 0, 0)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(170, 224, 0, 0)
    }
}

.specialitiesCard {
    box-shadow: 0 3px 6px 0 rgba(45, 45, 51, .08);
}

.how-it-works-section::before {
    content: "";
    width: 59%;
    background: #eaeaea;
    height: 2px;
    display: block;
    position: absolute;
    top: 55px;
    left: 20.9%;
}

.bg-primary {
  background-color: #199FD9; /* Change this to your desired color */
}

.dot {
  transition: transform 0.3s ease; /* Smooth transition for the dot */
}

input[type="checkbox"]:checked + div .dot {
  transform: translateX(70%); /* Move the dot to the right when checked */
}
  
.react-emoji-picker {
   /* Set desired width */
  height: 350px !important;  /* Set desired height */
  overflow-y: auto;
  position: absolute;   
  margin-top: 84px;      /* Add scroll if needed */
}

.potentialChats::-webkit-scrollbar {
  width: 5px;
}

.potentialChats::-webkit-scrollbar-track {
  background: #199FD9;
}

.potentialChats::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 20px;
}

.userChats::-webkit-scrollbar {
  width: 5px;
}

.userChats::-webkit-scrollbar-track {
  background: #199FD9;
}

.userChats::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 20px;
}

.chatBox::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  
}

.chatBox::-webkit-scrollbar-track {
  background: #F3F4F6;
}

.chatBox::-webkit-scrollbar-thumb {
  background-color: #949697;
  border-radius: 20px;
}

.chat{
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}

.video-container {
  position: relative;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place behind the video */
}

.video-blur {
  filter: blur(10px); /* Adjust blur amount as needed */
}

.video-image {
  background-image: url('/Frontend/public/images/night.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
}


.clinical-curve::after{
  content: '';
  background-color: #F7F0E6;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  display: block;
    height: 4rem;
    --tw-scale-x: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 10px;
  height: 90vh;
}

.video {
  width:30vw;
  height: 20vw;
  border-radius: 8px;
  object-fit: cover;
  /* border: 2px white solid; */
}